@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.sidenav {
    float: left;
    height: 100%;
    width: 300px;
    overflow: auto !important;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: #8f9aa5;
}

p {
    text-align: center;
    margin-top: 15px;
}
a {
    color: black !important;
}
a:hover {
    color: white !important;
}
